<script>
    import { ant } from '../stores/ant-store.js';
    import { afterUpdate } from 'svelte';

    afterUpdate(() => {
        run();
    });

    let count = 0;
    $: minmax = 100 / $ant.size;

    const run = () => {
        setTimeout(() => {
            ant.run();
            count++;
            // antElement.style.transform
            //     = `rotate(${$ant.angle}deg)`;
        }, 1);
    };

    const getColor = (key) => {
        return !$ant.grid.has(key)
            ? '#fff'
            : $ant.grid.get(key) === 0
                ? '#000'
                : '#fff';
    };
</script>

<style>
    .square-container {
        display: grid;
        /*grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));*/
        grid-gap: 0px;
    }

    .square {
        position: relative;
        border: 1px solid;
        box-sizing: border-box;
    }

    .square::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .square .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    span {
        color: red;
        font-weight: bold;
    }

    div.content svg {
        align-self: center;
        /*width: 24px;*/
        /*height: 24px;*/
        color: #ff0000;
        fill: currentColor;
        overflow: inherit;
    }
</style>

{count}

<button on:click={run}>RUN</button>

<div class="square-container" style="grid-template-columns: repeat(auto-fill, minmax({minmax}%, 1fr));">
  {#each $ant.range as y}
    {#each $ant.range as x}
      <div class="square">
        <div class="content" style="background-color: {getColor(`{x:${x},y:${y}}`)}">
          <!--{x} {y} {getColor(x + '' + y)}-->
          {#if $ant.y === y && $ant.x === x}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                 style="enable-background:new 0 0 512 512; transform: rotate({$ant.angle}deg)" xml:space="preserve"><path d="M448 246.857h-34.039l-43.538-26.121a9.098 9.098 0 0 0-4.709-1.307h-55.963a38.463 38.463 0 0 0 1.106-9.143c0-3.611-.558-7.113-1.518-10.487l39.881-7.982a9.118 9.118 0 0 0 5.815-3.886l36.571-54.857a9.188 9.188 0 0 0 1.536-5.074V57.627l16.75-25.125c2.807-4.206 1.673-9.883-2.533-12.681-4.215-2.807-9.883-1.673-12.681 2.533l-18.286 27.429a9.188 9.188 0 0 0-1.536 5.074v70.373l-32.942 49.408-41.975 8.393a50.947 50.947 0 0 0-7.762-7.022c16.576-9.253 27.822-26.953 27.822-47.25v-19.803c0-16.247-7.232-30.802-18.606-40.731C312.448 61.925 320 50.176 320 36.571 320 16.402 303.598 0 283.429 0a9.14 9.14 0 0 0-9.143 9.143 9.14 9.14 0 0 0 9.143 9.143c10.085 0 18.286 8.201 18.286 18.286s-8.201 18.286-18.286 18.286c-1.81 0-3.401.658-4.818 1.573-4.087-.997-8.32-1.573-12.699-1.573H246.09c-4.379 0-8.613.576-12.699 1.573-1.417-.914-3.008-1.573-4.818-1.573-10.085 0-18.286-8.201-18.286-18.286s8.201-18.286 18.286-18.286a9.14 9.14 0 0 0 9.143-9.143A9.14 9.14 0 0 0 228.573 0C208.402 0 192 16.402 192 36.571c0 13.605 7.552 25.353 18.606 31.653C199.232 78.153 192 92.709 192 108.955v19.803c0 20.297 11.246 37.998 27.822 47.25a50.947 50.947 0 0 0-7.762 7.022l-41.975-8.393-32.942-49.408V54.857a9.188 9.188 0 0 0-1.536-5.074l-18.286-27.429c-2.798-4.206-8.466-5.339-12.681-2.533-4.206 2.798-5.339 8.475-2.533 12.681l16.75 25.125V128c0 1.801.539 3.575 1.536 5.074l36.571 54.857a9.125 9.125 0 0 0 5.815 3.886l39.881 7.982c-.96 3.374-1.518 6.875-1.518 10.487 0 3.127.384 6.19 1.106 9.143h-55.963a9.101 9.101 0 0 0-4.709 1.307l-43.538 26.121H64c-5.056 0-9.143 4.096-9.143 9.143s4.087 9.143 9.143 9.143h36.571a9.101 9.101 0 0 0 4.709-1.307l43.538-26.121h61.467c.585 0 1.088-.229 1.637-.329 4.471 5.029 10.121 9.271 16.649 12.425v10.313l-96.338 61.303a9.087 9.087 0 0 0-4.069 6.034l-26.917 143.506-25.426 25.426a9.132 9.132 0 0 0 0 12.928c1.783 1.783 4.123 2.679 6.464 2.679s4.681-.896 6.464-2.679l27.429-27.429a9.113 9.113 0 0 0 2.514-4.782l26.706-142.382 83.173-52.928v25.298c-26.77 10.88-45.714 37.129-45.714 67.758v36.571c0 40.329 32.814 73.143 73.143 73.143s73.143-32.814 73.143-73.143v-36.571c0-30.629-18.944-56.878-45.714-67.758V281.8l83.173 52.928 26.706 142.382a9.12 9.12 0 0 0 2.514 4.782l27.429 27.429c1.783 1.783 4.123 2.679 6.464 2.679s4.681-.896 6.464-2.679a9.132 9.132 0 0 0 0-12.928l-25.426-25.426-26.917-143.506a9.08 9.08 0 0 0-4.069-6.034l-96.338-61.303V249.81c6.528-3.154 12.178-7.397 16.649-12.425.549.101 1.051.329 1.637.329h61.467l43.538 26.121a9.098 9.098 0 0 0 4.709 1.307H448c5.056 0 9.143-4.096 9.143-9.143s-4.087-9.142-9.143-9.142z"/></svg>
          {/if}
        </div>
      </div>
    {/each}
  {/each}
</div>
